.nav-link {
    font-family: 'Chakra Petch', sans-serif;
    display: inline-flex;
    width: 50%;
    justify-content: space-evenly;
}

a,
a:visited {
    text-decoration: none;
    color: #999998;
    text-underline-offset: 2em;
}

a:hover {
    text-decoration: underline;
    color: #00E69B;
}
