.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  background-color: #000;
  box-shadow: 0px 2px 0px -1px rgba(218, 220, 223, 0.14);
  margin-top: .5em;
}

.enter-app-link,
.next-button { 
  border: none;
  color: #000;
  width: 8.5em;
  margin: 1em;
  padding: .8em;
  font-size: 14px;
  background: #00E69B;
  clip-path: polygon(0px 0px, 100% 0px, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0px 100%, 0px calc(100% - 1px));
}

.styling-points-correct {
  display: inline-flex;
  flex-direction: column;
}

.styling-points {
  position: absolute;
}

@media screen and (max-width: 40em) {
  .nav-link,
  .enter-app-link
   {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .icon-section {
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 75em) {
  .welcome-astronaut {
    font-size: 25em;
    width: 50%;
  }

  .welcome-page-h2 {
    font-size: 4em;
  }

  .welcome-page-text {
    width: 60%;
  }

  .welcome-wrapper {
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
  }

  .welcome-page-h3 {
    font-size: 1.2em;
  }

  .display-section {
    display: flex;
    flex-direction: column;
  }

  .welcome-section { 
    height: 70vh;
  }
}

@media screen and (min-width: 40em) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 50em) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #input-box  {
    margin-bottom: 1em;
  }

  #nextButton {
    font-size: 13px;
  }

  .article-about {
    font-size: 1em;
    margin-left: 2em;
  }

  .welcome-astronaut-about {
    font-size: 8em;
    width: 20%;
  }

  .welcome-astronaut {
    font-size: 20em;
    width: 30%;
  }

  .welcome-page-h2 {
    font-size: 3em;
  }

  .welcome-page-text {
    width: 60%;
  }

  .welcome-page-h3 {
    font-size: 1em;
  }

  .welcome-page-buttons {
    font-size: .7em;
  }

  .welcome-wrapper {
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
  }

  .display-section {
    display: flex;
    flex-direction: column;
  }
  .welcome-section { 
    height: 60vh;
  }
}

@media screen and (max-width: 35em) {
  .welcome-astronaut {
    font-size: 20em;
    width: 30%;
  }

  .welcome-page-h2 {
    font-size: 1.5em;
  }

  .welcome-page-text {
    width: 40%;
  }

  .welcome-page-h3 {
    font-size: .8em;
  }

  .welcome-page-buttons {
    display: flex;
  }

  .welcome-wrapper {
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
  }

  .display-section {
    display: flex;
    flex-direction: column;
  }

  .welcome-section { 
    height: 50vh;
  }
}