.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  background-color: #000;
  -webkit-box-shadow: 0px 2px 0px -1px rgba(218,220,223,0.14); 
  box-shadow: 0px 2px 0px -1px rgba(218,220,223,0.14);
  margin: 1em;
}
